/*Display properties*/
/*
	1. Inline
	2. Block
	3. Inline-Block
	4. None
*/

#div1 {
	background-color: green;
	display: inline;
}

#div2 {
	background-color: hotpink;
}

#span1 {
	background-color: purple;
	display: block;
}

#span2 {
	background-color: red;
	display: inline-block;
	height: 100px;
	width: 100px;
}

#img{
	display: none;
}

/*Display Property Notes*/

#p1 {
	background-color: #87CEFA;
}

#p2 {
	background-color: rgb(255,105,180);
	width: 60%;
}

#p3 {
	background-color: yellow;
	width: 40%;
}

.sample {
	display: inline-block;
	background-color: orange;
	border: 1px solid black;
	width: 30%;
}

/*Float Property*/
/*
	1. None
	2. Right
	3. Left
*/

.imgfloat {
	width: 200px;
	height: 200px;
	float: right;
}

/*CSS Units*/

.box {
	background-color: purple;
	border: 1px solid black;
	margin: 5px;
}

.fiftyp {
	width: 500%;
}

.hundredpx {
	width: 500px;
}

.fiftyvw {
	width: 50vw;
}

.twentyfivevh {
	height: 25vh;
}

.parent {
	width: 135px;
	border: 2px solid navy;
	font-size: 50px;
}

/*Notes on em, rem, and 200%*/

.onerem {
	font-size: 1rem;
}

.oneem {
	font-size: 2em;
}

.tworem {
	font-size: 2rem;
}

.twoem {
	font-size: 2em;
}

.twohundredp {
	font-size: 200%;
}

/*CSS Background Properties*/
/*
	background-repeat:
	1. Repeat
	2. Repeat-x
	3. Repeat-y
	4. Round
	5. No-repeat
*/
/*
	background-position:
	1. left top
	2. left center
	3. left bottom
	4. right top
	5. right center
	6. right bottom
	7. center top
	8. center center
	9. center bottom
*/
/*
	background-attachment:
	1. Scroll
	2. Fixed
	3. Inherit
*/

.background {
	background-image: url(https://c4.wallpaperflare.com/wallpaper/43/1003/707/anime-your-name-kimi-no-na-wa-mitsuha-miyamizu-wallpaper-preview.jpg);
	min-height: 100vh;
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 100%;
	background-attachment: fixed;
}

/*CSS Positioning*/
/*
	Position:
	1. Static
	2. Absolute
	3. Fixed
	4. Relative
	5. Sticky
*/

.parentelement {
	background-color: skyblue;
	padding: 50px 10px;
	position: relative;
	height: 800px;
}

.child1 {
	background-color: grey;
	padding: 10px;
}

.child2 {
	background-color: yellow;
	padding: 10px;
	position: absolute;
	top: 10px;
}

.child3 {
	background-color: darkgrey;
	padding: 10px;
}

/*Z-index*/
/*
	Z-index is the property that determines which HTML elements appear on top of another HTML element when they overlap. The element that has the highest z-index is on "top"
*/

.container {
	position: relative;
}

.blackbox {
	position: relative;
	border: 2px solid black;
	height: 100px;
	margin: 30px;
}

.greybox {
	position: absolute;
	left: 50px;
	top: 50px;
	background-color: lightgrey;
	height: 60px;
	width: 70%;
	z-index: 3;

}

.greenbox {
	position: absolute;
	top: -15px;
	left: 270px;
	background-color: green;
	height: 150px;
	z-index: 2;
}